<a href="https://colab.research.google.com/github/ErinCrumpBtech/cool-repo/blob/main/Lecture_06_27_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
import numpy as np

In [3]:
numbers_list = [4,24,100,17,1]

In [4]:
numbers_array = np.array(numbers_list)

In [5]:
print numbers_list

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-5-bb7451c355f9>, line 1)

In [6]:
print(numbers_list)

[4, 24, 100, 17, 1]

In [8]:
print(numbers_array)

[  4  24 100  17   1]

In [9]:
type(numbers_list)

list

In [11]:
type(numbers_array)

numpy.ndarray

In [12]:
numbers_list * 3

[4, 24, 100, 17, 1, 4, 24, 100, 17, 1, 4, 24, 100, 17, 1]

In [13]:
numbers_array * 3

array([ 12,  72, 300,  51,   3])

In [14]:
print(numbers_array)

[  4  24 100  17   1]

In [15]:
numbers_array.reshape(-1,1)

array([[  4],
       [ 24],
       [100],
       [ 17],
       [  1]])

In [25]:
np.linspace(45,59,4)

array([45.        , 49.66666667, 54.33333333, 59.        ])

In [26]:
np.arange(45,59,.2)

array([45. , 45.2, 45.4, 45.6, 45.8, 46. , 46.2, 46.4, 46.6, 46.8, 47. ,
       47.2, 47.4, 47.6, 47.8, 48. , 48.2, 48.4, 48.6, 48.8, 49. , 49.2,
       49.4, 49.6, 49.8, 50. , 50.2, 50.4, 50.6, 50.8, 51. , 51.2, 51.4,
       51.6, 51.8, 52. , 52.2, 52.4, 52.6, 52.8, 53. , 53.2, 53.4, 53.6,
       53.8, 54. , 54.2, 54.4, 54.6, 54.8, 55. , 55.2, 55.4, 55.6, 55.8,
       56. , 56.2, 56.4, 56.6, 56.8, 57. , 57.2, 57.4, 57.6, 57.8, 58. ,
       58.2, 58.4, 58.6, 58.8])

In [38]:
np.random.random()*100

74.68910615721013

In [39]:
np.argmax(numbers_array)

2

In [40]:
print(numbers_array)

[  4  24 100  17   1]

In [41]:
np.argmin(numbers_array)

4

In [42]:
np.where(numbers_array < 17,'small','big')

array(['small', 'big', 'big', 'big', 'small'], dtype='<U5')

In [43]:
df['AgeGroup'] = np.where(df['Age'] > 54, 'Old',np.where(df['Age'] > 45, 'Middle Age', 'Young'))

In [44]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Young
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Young
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Young
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Young
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Young

In [45]:
print(df.head(50))

    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3
11           12         1       1
12           13         0       3
13           14         0       3
14           15         0       3
15           16         1       2
16           17         0       3
17           18         1       2
18           19         0       3
19           20         1       3
20           21         0       2
21           22         1       2
22           23         1       3
23           24         1       1
24           25         0       3
25           26         1       3
26           27         0       3
27           28         0       1
28           29         1       3
29           30         0       3
30           31         0       1
31           32         1       1
32           33         1       3
33           34         0       2
34           35         0       1
35           36         0       1
36           37         1       3
37           38         0       3
38           39         0       3
39           40         1       3
40           41         0       3
41           42         0       2
42           43         0       3
43           44         1       2
44           45         1       3
45           46         0       3
46           47         0       3
47           48         1       3
48           49         0       3
49           50         0       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0
12                     Saundercock, Mr. William Henry    male  20.0      0
13                        Andersson, Mr. Anders Johan    male  39.0      1
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                               Rice, Master. Eugene    male   2.0      4
17                       Williams, Mr. Charles Eugene    male   NaN      0
18  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                            Masselmani, Mrs. Fatima  female   NaN      0
20                               Fynney, Mr. Joseph J    male  35.0      0
21                              Beesley, Mr. Lawrence    male  34.0      0
22                        McGowan, Miss. Anna "Annie"  female  15.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0
24                      Palsson, Miss. Torborg Danira  female   8.0      3
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                            Emir, Mr. Farred Chehab    male   NaN      0
27                     Fortune, Mr. Charles Alexander    male  19.0      3
28                      O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                Todoroff, Mr. Lalio    male   NaN      0
30                           Uruchurtu, Don. Manuel E    male  40.0      0
31     Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
32                           Glynn, Miss. Mary Agatha  female   NaN      0
33                              Wheadon, Mr. Edward H    male  66.0      0
34                            Meyer, Mr. Edgar Joseph    male  28.0      1
35                     Holverson, Mr. Alexander Oskar    male  42.0      1
36                                   Mamee, Mr. Hanna    male   NaN      0
37                           Cann, Mr. Ernest Charles    male  21.0      0
38                 Vander Planke, Miss. Augusta Maria  female  18.0      2
39                        Nicola-Yarred, Miss. Jamila  female  14.0      1
40     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.0      1
41  Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.0      1
42                                Kraeff, Mr. Theodor    male   NaN      0
43           Laroche, Miss. Simonne Marie Anne Andree  female   3.0      1
44                      Devaney, Miss. Margaret Delia  female  19.0      0
45                           Rogers, Mr. William John    male   NaN      0
46                                  Lennon, Mr. Denis    male   NaN      1
47                          O'Driscoll, Miss. Bridget  female   NaN      0
48                                Samaan, Mr. Youssef    male   NaN      2
49      Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.0      1

    Parch            Ticket      Fare        Cabin Embarked    AgeGroup
0       0         A/5 21171    7.2500          NaN        S       Young
1       0          PC 17599   71.2833          C85        C       Young
2       0  STON/O2. 3101282    7.9250          NaN        S       Young
3       0            113803   53.1000         C123        S       Young
4       0            373450    8.0500          NaN        S       Young
5       0            330877    8.4583          NaN        Q       Young
6       0             17463   51.8625          E46        S  Middle Age
7       1            349909   21.0750          NaN        S       Young
8       2            347742   11.1333          NaN        S       Young
9       0            237736   30.0708          NaN        C       Young
10      1           PP 9549   16.7000           G6        S       Young
11      0            113783   26.5500         C103        S         Old
12      0         A/5. 2151    8.0500          NaN        S       Young
13      5            347082   31.2750          NaN        S       Young
14      0            350406    7.8542          NaN        S       Young
15      0            248706   16.0000          NaN        S         Old
16      1            382652   29.1250          NaN        Q       Young
17      0            244373   13.0000          NaN        S       Young
18      0            345763   18.0000          NaN        S       Young
19      0              2649    7.2250          NaN        C       Young
20      0            239865   26.0000          NaN        S       Young
21      0            248698   13.0000          D56        S       Young
22      0            330923    8.0292          NaN        Q       Young
23      0            113788   35.5000           A6        S       Young
24      1            349909   21.0750          NaN        S       Young
25      5            347077   31.3875          NaN        S       Young
26      0              2631    7.2250          NaN        C       Young
27      2             19950  263.0000  C23 C25 C27        S       Young
28      0            330959    7.8792          NaN        Q       Young
29      0            349216    7.8958          NaN        S       Young
30      0          PC 17601   27.7208          NaN        C       Young
31      0          PC 17569  146.5208          B78        C       Young
32      0            335677    7.7500          NaN        Q       Young
33      0        C.A. 24579   10.5000          NaN        S         Old
34      0          PC 17604   82.1708          NaN        C       Young
35      0            113789   52.0000          NaN        S       Young
36      0              2677    7.2292          NaN        C       Young
37      0        A./5. 2152    8.0500          NaN        S       Young
38      0            345764   18.0000          NaN        S       Young
39      0              2651   11.2417          NaN        C       Young
40      0              7546    9.4750          NaN        S       Young
41      0             11668   21.0000          NaN        S       Young
42      0            349253    7.8958          NaN        C       Young
43      2     SC/Paris 2123   41.5792          NaN        C       Young
44      0            330958    7.8792          NaN        Q       Young
45      0   S.C./A.4. 23567    8.0500          NaN        S       Young
46      0            370371   15.5000          NaN        Q       Young
47      0             14311    7.7500          NaN        Q       Young
48      0              2662   21.6792          NaN        C       Young
49      0            349237   17.8000          NaN        S       Young