In [1]:
# Import statement
import pandas as pd

# Load data
df = pd.read_csv('horse_racing.csv')
df.head()

,Dato,Track,Race Number,Distance,Surface,Prize money,Starting position,Jockey,Jockey weight,Country,...,TrainerName,Race time,Path,Final place,FGrating,Odds,RaceType,HorseId,JockeyId,TrainerID
0,03.09.2017,Sha Tin,10,1400,Gress,1310000,6,K C Leung,52,Sverige,...,CH Yip,8338,2,9,110,22,Handicap,1736,8656,6687
1,16.09.2017,Sha Tin,10,1400,Gress,1310000,14,C Y Ho,52,Sverige,...,CH Yip,8156,3,4,124,48,Handicap,1736,8659,6687
2,14.10.2017,Sha Tin,10,1400,Gress,1310000,8,C Y Ho,52,Sverige,...,CH Yip,8236,1,6,118,11,Handicap,1736,8659,6687
3,11.11.2017,Sha Tin,9,1600,Gress,1310000,13,Brett Prebble,54,Sverige,...,CH Yip,9653,0,8,107,11,Handicap,1736,8453,6687
4,26.11.2017,Sha Tin,9,1600,Gress,1310000,9,C Y Ho,52,Sverige,...,CH Yip,9417,0,3,123,40,Handicap,1736,8659,6687

In [3]:
# Question 1: Of all the rows in the data set what was the average weight of a jockey? Weights are listed in kilograms. Round to two decimal places.
round(df['Jockey weight'].mean(),2)

55.87

In [7]:
# Question 2: What was the average race time for jockey Brett Prebble? Round to two decimal places.
df_bp = df[df['Jockey'] == 'Brett Prebble']
round(df_bp['Race time'].mean(), 2)

7517.2

In [10]:
# Question 3: Create a new dataframe that contains rows where horses and their jockeys won first place. How much money did first place jockeys win, on average?
# The money unit is Hong Kong dollars (HKD). Round to two decimal places.
df_first = df[df['Final place'] == 1]
round(df_first['Prize money'].mean(),2)

1534781.48

In [11]:
# Question 4: Did winning horses tend to run on dirt or grass surfaces?
df_first['Surface'].value_counts(normalize=True)

Surface
Gress    0.877303
Dirt     0.122697
Name: proportion, dtype: float64

In [13]:
# Question 5: What was the fastest race time among horses that ran the 1400 meter race? The units given are in seconds
# (sometimes, the data is dirty, just assume they are all seconds for now).
df_1400 = df[df['Distance'] == 1400]
df_1400['Race time'].min()

82

In [17]:
df_1400['Country'].value_counts()

Country
Australia        2451
New Zealand      1254
Irland            489
Great Britain     269
Frankrike          98
USA                83
S?r-Afrika         63
Tyskland           38
Brasil             12
Japan               9
Italia              9
Sverige             3
Spania              3
Argentina           2
Name: count, dtype: int64

In [22]:
# Question 6: What was the slowest race time among Irish horses who ran the 1400 meter race?
df_1400[df_1400['Country'] == 'Irland'].sort_values(by = 'Race time', ascending= False).head(1)

,Dato,Track,Race Number,Distance,Surface,Prize money,Starting position,Jockey,Jockey weight,Country,...,TrainerName,Race time,Path,Final place,FGrating,Odds,RaceType,HorseId,JockeyId,TrainerID
13402,17.12.2017,Sha Tin,6,1400,Gress,880000,7,K C Leung,57,Irland,...,A Lee,9291,0,14,-5,23,Handicap,22862,8656,6695

In [26]:
# Question 7: Which Australian jockey has competed in the most races?
df_aussie = df[df['Country'] == 'Australia']
df_aussie['Jockey'].value_counts().head(1)

Jockey
Joao Moreira    945
Name: count, dtype: int64

In [36]:
# Question 8: Assume that greater odds indicates a lesser likelihood to win the race. According to this data set, which jockey out of Australia, Ireland, or the New Zealand
# has the least likelihood to win a race, on average (ie. the highest odds)?
df_mc = df[df['Country'].isin(['Australia', 'Irland', 'New Zealand'])]

df_mc[['Jockey','Odds']].groupby('Jockey').mean().sort_values(by='Odds', ascending = False).head(1)

         Odds
Jockey
H Lam   316.5

In [45]:
# Question 9: Of all horses age 10 or above, what is the horse ID of the one that has the best average race time (ie. the smallest)?
df_10 = df[df['Horse age'] >= 10]
df_10[['HorseId', 'Race time']].groupby('HorseId').mean().sort_values(by = 'Race time', ascending = True).head(1)

         Race time
HorseId
22206       4388.0

In [48]:
# Question 10: Which country won the most races (first place) where the prize money was over $2,000,000?
df_price = df[(df['Prize money'] > 2000000) & (df['Final place'] == 1)]
df_price['Country'].value_counts().head(1)

Country
Australia    87
Name: count, dtype: int64